*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}
.Main{
    padding: 57px 27px;
    /* color: white; */
    height: 500px;
    background-image: url(./images/react-logo.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 75%;

}

.Nav{
    display: flex;
    align-items: center;
    background-color: bisque;
    height: 90px;
    padding: 30px 25px;
}
nav > h3, nav > h4{
    margin: 0;
}
nav > h3 {
    margin-right : auto;
    color: lightblue;
    font-weight: 700;
    font-size: 22px;
}

nav > img{
    margin-right: 7px;
}

div > h1{
    margin-left: auto;

}

/* .mainFacts {
    margin-top: 46px;
    max-width: 400px;
} */

ul > li::marker {
    font-size: 1.4rem;
    color: blue;
}